@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /*background-image: url('img/dark-bgd.jpg');*/
}

.navbar {
  /*background-color: aqua;*/
  width: 100%;
  height: 50px;
}

.navbar-container {
  display: flex;
  align-items: center;
  /*background-color: black;*/
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-container {
  flex: 2;
}

.logo {
  font-size: 18px;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin: 30px;
  cursor: pointer;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  position: absolute;
  background-color: black;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  right: 1px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar {
  position: fixed;
  top: 0;
  width: 50px;
  height: 100%;
  /*background-color: aqua;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon {
  margin-bottom: 40px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.container {
  padding-top: 30px;
  color: white;
}

.content-container {
 margin-left: 70px;
 padding: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.search-container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(25, 194, 115);
  color: white;
  cursor: pointer;
}

.movie-container {
  margin-top: 20px;
}

.empty-state {
  opacity: 0.7;
}

.navbar-container.active {
  color: black;
}

.left-menu-icon.active {
  color: black;
}

.toggle.active {
  background-color: black;
}

body.active {
  /*background-image: url('img/light-bg.png');*/
  color: black;
}

.toggle-ball.active {
  background-color: white;
  transform: translate(-20px);
}