@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: aqua;
  width: 100%;
  height: 50px;
}

.navbar-container {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-container {
  flex: 3;
}

.logo {
  font-size: 15px;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin: 30px;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  position: absolute;
  background-color: red;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  right: 1px;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon {
  margin-bottom: 40px;
  font-size: 20px;
}

.container {
  background-color: blue;
  height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 50vh;
}